* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    /* todo conteúdo que ultrapassar a horizontal será ignorado (overflor-x:hidden)*/
}

.add {border-right: 1.9px solid #333;}
.add2 {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

div.responsivo-menu {
    width:50px;
    height: 50px;
    background-color: #B28756;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    display: none;
    
    
}

.responsivo-menu .responsivo-menu-traço {
    margin: 4px;
    height: 3.2px;
    width: 80%;
    border-radius: 4px;
    background-color: #000;
    
}

header {
    height: 100px;
    background-color: #000;
}

.header {
    max-width: 1024px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #B28756;
}

.menu-opener {
    display: none;
}



.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}

.menu li, .menu ul {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover, .menu .active a {
    border-top: 5px solid #B28756;
    border-bottom: 5px solid #B28756;
    color: #CCC;
}

.banner {
    background-image: url('./complementos/bg.jpg');
    height: calc(100vh - 100px);
    background-size:cover;
    background-position: bottom;
    background-attachment: fixed;
    overflow: hidden; 

}


.banner #sliders { 
    width: 1000vw;
    height: 100%;

}

.banner .slide {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);    
    overflow: hidden;
 
}

.banner .slide-Area {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sliders .hFirst {
    font-size: 48px;
    color: white;
}

.hFirst {
    margin-bottom: -10px;
}
#sliders .hSecond{
    margin-top: -10px;
    color: #B28756;
    font-size: 48px;
}



.slideP{
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 25px;

}

.a-touch{
  text-decoration: none;
  color: white ;
  background-color: #B28756;
  border-radius: 20px;
  margin-top: 20px;
  padding: 12px 37px;
  font-size: 16px;
  display: block;
}

.a-touch:hover {
    background-color: #b48651bd;
    font-size: 18px;
    transition-duration: 0.5s;
}





.banner #slide-ponto {
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: absolute;
    margin-top: -145px;
}

#slide-ponto .ponto, .ponto2, .ponto3 {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.856);
    background-color: rgb(0,0,0,0.65);
    margin-left: 5px;
    margin-right: 5px; 
    margin-bottom: 30px;
    cursor: pointer;   
}

#slide-ponto .active {
    background-color: #B28756;
}



#container-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: auto;   
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50px;
    
   
}



.contains-2 {
    display: flex;
    max-width: 1024px;

}
.contains-2-child{
    display: flex;
    flex-direction: column;
    justify-content:left;
    flex: 1;

}

.contains-2-child-2 {
    width: 500px;
    text-align: center;
}

.a-road {
    text-decoration: none;
    color: white ;
    background-color: #B28756;
    border-radius: 20px;

    padding: 10px 30px;
    font-size: 14px;

    
}

.contains-2-child-2 img {
    width: 90%;
    box-shadow:  0px 5px 10px #333;
}

.contains-4-divs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}    
   


.banner-1 {
    flex: 1;
    border-left: 1.9px solid #333;
}

.section-projects-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 630px;
    background-color: #cccccc94;
    border-radius: 200px;
    border: 0.2px solid rgba(0, 0, 0, 0.185);
}

.section-projects-menu  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    
    
}



.section-projects-menu .section-projects-nav ul {
    display: flex;
    list-style: none;
    
}
.section-projects-menu .section-projects-nav ul li {
    padding: 20px;
    
}

.section-projects-menu .section-projects-nav ul li a {
    height: 100%;
    text-decoration: none;
    color: black;
}

.section-projects-nav-li {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    
}

.section-projects-menu .section-projects-nav ul li a:hover {

border-bottom: 2px solid #B28756;
}

.section-project-menu-img {
    margin: auto;
    max-width: 1024px;
    display:grid;
    grid-template-columns: repeat(3, 2fr);
    padding-bottom: 40px;
}

.section-project-menu-img div{
    margin: 10px;
}

.section-project-menu-img div img {
    width: 100%;
    height: 100%;
    
}

.section-projects--photo {
   
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #FFF;
    font-size: 18px;
   
}

.section-div-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.section-div-photo {
    overflow: hidden; 
}

.section-div-photo:hover .section-projects--photo {
    display: flex;
    background-color: rgba(0,0,0,0.5);
    width: 16.9%;
    height: 21.7%;
   
}

.section-our-team {
    background-image:url('./complementos/foto3.jpg');
    background-size:cover;
    background-position: bottom;
    background-attachment: fixed;
    overflow: hidden; 

}

.section-our-team-master {
    max-width: 1024px;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.section-our-team-contain {
    margin: 20px;
    width: 250px;
    height: 400px ;
    background-color: white;
}

.section-our-team-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 3px;

}

#rede {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCC;   
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    cursor: pointer;
    margin: 2px;
    
    
}

.place { font-size:12px; color:rgba(128, 128, 128, 0.712) ;}

.div-input {
    width: 400px;
    margin: auto;
    
}

.div-input-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;

}

.div-input-1 input {
    margin: 5px;
    border: 0px;
    padding: 10px;
    flex: 1;
    border-bottom: 1.4px solid rgba(128, 128, 128, 0.712);
   
}

.div-input-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    
   
}
.div-input-2 input {
    margin: 5px;
    border: 0px;
    width: 98%;
    border-bottom: 1.4px solid rgba(128, 128, 128, 0.712);
    padding: 10px;
}

input.place.input-1-div {
    margin-bottom: 30px;
}

.div-input-button {
 
    display: flex;
    justify-content: center;
}

.div-input-button button {
    margin-top: 40px;
    border: none;
}










@media(max-width:1024px) {
    div.menu {
        margin-right: 20px;
    }
    div.logo, a.a-road {
        margin-left: 20px;
    }

    .section-project-menu-img div img {
        width: 90%;
    }

    div.contains-2 {
        width: 820px;
    }

  }

@media(max-width:820px){
    .responsivo {
        display: flex; justify-content: center; align-items: center;
    }
}  

@media(min-width:431px) and (max-width:768px) {

    nav {
        background-color: #000000da;
        margin-top: 42px;
        width: 300px;
        position: absolute;
        margin-left: -181px;
        display: none;
        cursor: pointer;
    }

    div.responsivo-menu {
        display: block;
        display: flex;
        
        margin-right: 50px;
        border-radius: 4px;
    }

    div.contains-2 {
        width: calc(100vw - 25px);
        flex-direction: column;
}
    .responsivo {
        display: flex; justify-content: center; align-items: center;
        margin-bottom: 25px;
    }

    .contains-2-child-2 {
        width: auto;
    }
  

}

@media(max-width:430px) {
    .header .menu nav {
        background-color: #000000da;
        margin-top: 42px;
        width: 300px;
        position: absolute;
        margin-left: -181px;
        display: none;
        cursor: pointer;
    }

    .section-projects-menu{
        width: 80vw;
        height: 100px;
        border-radius: 40px;
    }

    .section-projects-menu .section-projects-nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-projects-menu .section-projects-nav ul li a {
        font-size: 11px;
    }

    .section-projects-menu .section-projects-nav ul li{
        border-left: none;
        border-right: none;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li {
        height: 75px;
    }

    .menu ul li a {
        font-size: 12px;
    }

    div.responsivo-menu {
        display: block;
        display: flex;
        margin-right: 50px;
        border-radius: 4px;
    }

    #sliders .hFirst, #sliders .hSecond {
        font-size: 34px;
    }
    .slideP {
        font-size: 14px;
    }

    div.contains-2 {
        width: 100vw;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column; 
    }
    .responsivo {
        margin-bottom: 30px;
    }

    .contains-2-child div p {
        width:240px;
    }

    .contains-4-divs {
        flex-direction: column;
     

    }

    .contains-4-divs .banner-1 {
        border-left: none;
        border-right: none;
    }

    div.section-project-menu-img {
        grid-template-columns: none;
        
    }

    .responsivo2 {
        width: 300px;
    }

    .contains-2-child-2 img {
        width: 74%;
    }

    .contains-2-child-2 {
        width: 350px;
    }

    .section-our-team-master {
        flex-direction: column;
    }

    div.banner-1 {
        border-right: none;
    }

    div.contains-1 {
        margin-bottom: 25px;
    }

}

@media(max-width:375px) {
    .contains-2-child-2 {
        width: auto;
    }
}

